<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
	<listeners>
		<listener class-name="com.orangehrm.listeners.Listener" />
	</listeners>
	<parameter name="browser" value="chrome" />
	<test thread-count="5" name="LoginTests">
		<classes>
			<class name="com.orangehrm.tests.LoginTests" />
			<class name="com.orangehrm.tests.DashBoardTests" />
			<class name="com.orangehrm.tests.PIMTests"/>
			<class name="com.orangehrm.tests.AdminTests"/>
			<class name="com.orangehrm.tests.LeaveTests"/>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
